body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fb;
    color: #0b1220;
}

/* جدول العملاء */
table#client-table th {
    font-size: 14px;
}

table#client-table td {
    font-size: 13px;
}

/* زر إضافة عميل */
button.btn-outline-primary {
    border-color: #2a9df4;
    color: #2a9df4;
    transition: 0.2s;
}

button.btn-outline-primary:hover {
    background-color: #2a9df4;
    color: white;
}
